@mixin transition($options...) {
    transition: $options;
    -moz-transition: $options;
    -o-transition: $options;
    -webkit-transition: $options;
    -ms-transition: $options;
}

@mixin backFaceVisibility($option...) {
    backface-visibility: $option;
    -moz-backface-visibility: $option;
    -webkit-backface-visibility: $option;
}

@mixin borderRadius($options...) {
    border-radius: $options;
    -webkit-border-radius: $options;
    -moz-border-radius: $options;
}

@mixin boxShadow($options...) {
    box-shadow: $options;
    -moz-box-shadow: $options;
    -o-box-shadow: $options;
    -webkit-box-shadow: $options;
}

@mixin transform($options...) {
    transform: $options;
    -moz-transform: $options;
    -ms-transform: $options;
    -o-transform: $options;
    -webkit-transform: $options;
}
@mixin boxSizing($options){
    box-sizing: $options;
    -moz-box-sizing: $options;
    -webkit-box-sizing: $options;
}
@mixin animation($options){
    animation: $options;
    -moz-animation: $options;
    -o-animation: $options;
    -webkit-animation: $options;
}
@mixin notify_dot_animation() {
    @keyframes notify_dot {
        0% {
            @include boxShadow(0 1px 2px $red);
            border: 1px solid darken($red, 10%);
        }
        50% {
            @include boxShadow(0 1px 6px $red);
            border: 2px solid darken($red, 10%);
        }
        100% {
            @include boxShadow(0 1px 2px $red);
            border: 1px solid darken($red, 10%);
        }
    }
}

@mixin text-glowing-animation() {
    @keyframes text-glowing {
        0% {
            text-shadow: 0 0 0;
        }
        50% {
            text-shadow: 0 0 1px;
        }
        100% {
            text-shadow: 0 0 0;
        }
    }
}

@mixin justify-content($justify-content) {
    justify-content: $justify-content;
    -webkit-justify-content: $justify-content;
}

@mixin flex-wrap($flex-wrap) {
    flex-wrap: $flex-wrap;
    -ms-flex-wrap: $flex-wrap;
    -webkit-flex-wrap: $flex-wrap;
}

@mixin align-items($align-items) {
    align-items: $align-items;
    -webkit-align-items: $align-items;
}

@mixin align-self($align-self) {
    align-self: $align-self;
    -webkit-align-self: $align-self;
}

@mixin align-content($align-content) {
    align-content: $align-content;
    -webkit-align-content: $align-content;
}

@mixin flex-direction($flex-direction) {
    flex-direction: $flex-direction;
    -ms-flex-direction: $flex-direction;
    -webkit-flex-direction: $flex-direction;
}
@mixin filter($filter){
    filter: $filter;
    -ms-filter: $filter;
    -webkit-filter: $filter;
}
