@import "../common/common"

label.error
  color: red

.form-group
  margin-bottom: 0

input.not-valid, select.not-valid
  border-color: red

  &:focus
    border-color: red
    @include boxShadow(0 1px 2px red)