@import "../../sass/_variables"

@import "../../sass/mixins"

.nav
  background-color: $blue
  @include boxShadow(0 1px 4px #000)

  .container-box
    display: flex
    @include flex-wrap(wrap)

  ul
    display: flex
    @include flex-wrap(wrap)

  .link, .brand
    color: #fff
    font-weight: bold
    padding: 1rem

  .link
    text-shadow: 0 0 0 #000

    &:hover
      text-shadow: 0 1px 2px #000
      background-color: lighten($blue, 10%)

  .brand
    text-shadow: 0 0 0 #fff

    &:hover
      text-shadow: 0 1px 2px #fff

#menu-toggler
  font-size: 1.5rem
  cursor: pointer
  @include transition(.5s ease)
  color: #ffffff
  text-shadow: 0 0 0 #000

  &:hover, &:focus, &.active
    text-shadow: 0 2px 2px #000


@media (min-width: $md)
  #menu-toggler
    display: none !important

@media (max-width: $md - .01)
  .nav
    .container-box
      position: relative
      @include justify-content(space-between)
      @include align-items(center)

    ul
      background-color: $blue
      @include boxShadow(0 1px 2px #000)
      display: none
      position: absolute
      top: 100%
      width: 100%
      left: 0

      a, li
        width: 100%
