<header>
    <nav class="nav">
        <div class="container container-box">
            <a href="" class='brand d-inline-block'>
                <strong>(APP)</strong></a>
            <span id='menu-toggler' class='d-inline-block fas fa-bars'></span>
            <ul id="nav-menu" class='menu'>
                <li>
                    <a href="index.html" class="link d-inline-block">Home</a>
                </li>
                <li>
                    <a href="charts.html" class="link d-inline-block">Charts</a>
                </li>
            </ul>
        </div>
    </nav>
</header>